@{
    ViewBag.Title = "Vue JS";
}

<h3>Learning Vue Js</h3>

<div id="MyApp">
    <h2> {{Product}} are in Stock</h2>
</div>

@*FIRST WAY*@
<script src="~/Scripts/App/diary.test.vue-main.js"></script>
@*<script>
        const app = new Vue({
            el :'#MyApp',
            data: {
                Product : 'I-Phone 7'
            }
        });

    </script>*@