

.ng-table-counts.btn-group.pull-right.ng-scope
{
    float: left!important
}

ul.pagination.ng-table-pagination.ng-scope
{
    float: right!important;
    padding-right: 24%;
}

th.header.blue-column.sortable,
button.btn.btn-default.ng-scope {
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ng-table th.sortable.sort-asc.blue-column, 
.ng-table th.sortable.sort-desc.blue-column,
 button.btn.btn-default.ng-scope.active 
{
   color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

