body {
}

div.register
{
    background-color: #1D9D72;
    float: right;
    width: 40%;
    padding: 3px;
    margin: 10px;
}
/*div.register /*commented because redesign is not successfull 
{
    background-color: yellowgreen;
    width: 90%;
    padding: 3px;
    margin: 5px;
}*/

div.registerTitle 
{
    background-color:antiquewhite;
    font-size: 1.75em;
    color:#A52A2A;
    text-align:center;
    font-family:cursive;
    
}

div.registerData
{
    border:2px solid #FAEBD7;
    background-color:seashell;
    padding:20px;
}
div.registerData .editor-label
{
    display: block;
    font-size: 1.0em;
    font-weight: 600;
    min-width:150px;
}
div.login
{
    float: left;
    width: 35%;
    padding: 3px;
    margin: 10px;
    background-color: yellowgreen;
}
/*div.login  /*commented because redesign is not successfull 
{
  
    width: 90%;
    padding: 3px;
    margin: 5px;
    background-color: yellowgreen;
}*/
div.loginTitle
{
    background-color:antiquewhite;
    font-size: 1.75em;
    color:#A52A2A;
    text-align:center;
    font-family:cursive;
}

div.loginData
{
   border: 2px solid #FAEBD7;
   background-color:seashell;
    padding:20px;
}
div.loginData .editor-label
{
    display: block;
    font-size: .7em;
    font-weight: 600;
}

/*div.OR
{
    color: #A52A2A;
    float: left;
    font-family: cursive;
    font-size: 2.50em;
    margin-top: 150px;
    padding-left: 50px;
}*/
div.OR
{
    color: #a52a2a;
    float: left;
    font-family: cursive;
    font-size: 2.5em;
    margin-top: 0;
    padding-left: 0;
    position: relative;
    top: 110px;
}
div.registerData div.userImage
{
    margin-top:8px;
    background-color: mediumpurple;

}


/*-------------------------------Preview user image*/

div.register div.previewImage
{
    /*background: url("/../Content/Diary/30ae8c87-3114-4a0a-80a5-0e7d63cb4fa7/odesk_profile.jpg") no-repeat scroll 0 0 red;*/
    float: right;
    /*height: 200px;*/
    left: -20px;
    position: relative;
    top: 20px;
    display:none;
    /*width: 150px;*/
    /*background: url("/../Content/Diary/Common/diary.jpg") no-repeat scroll 0 0 transparent;*/
}
/*-------------------------------End preview user image*/
.shadow {
	
	background-color: rgb(68,68,68); /* Needed for IEs */

	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}

div.user_profile_image_loader
{
    background: url("/../Images/Diary/ajax-loader.gif") no-repeat scroll -258px -140px rgba(0, 0, 0, 0);
    height: 20px;
    width: inherit;
    display: none;
    z-index: 9999;  
    background-color:aliceblue;
}