<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="MyDIARY.Common.WCF.Sharepoint.Services.SharePointRESTService">
        <endpoint behaviorConfiguration="RESTSharePointServiceBinding" binding="webHttpBinding" contract="MyDIARY.Common.WCF.Sharepoint.Contracts.ISharePointRESTService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:64986/Service" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="mexBehaviour" name="MyDIARY.Common.WCF.Sharepoint.Service.SharePointCommonService">
        <endpoint behaviorConfiguration="ServiceBinding" binding="basicHttpBinding" contract="MyDIARY.Common.WCF.Sharepoint.Contracts.ISharePointCommonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:64986/Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <!--<behavior name="endPointBehaviour">
                  <webHttp defaultOutgoingResponseFormat="Json" />
              </behavior>-->
        <behavior name="ServiceBinding" />
        <behavior name="RESTSharePointServiceBinding">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <!--<serviceBehaviors>
        <behavior>
          -->
      <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
      <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
      <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
      <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!-- buffer: 64KB; max size: 64MB -->
        <binding name="ServiceBinding" transferMode="Streamed" messageEncoding="Mtom" maxReceivedMessageSize="67108864" maxBufferSize="65536" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <!--<binding  maxReceivedMessageSize="2147483647" name="ServiceBinding"
                       maxBufferSize="2147483647"
                       transferMode="Streamed"
                       sendTimeout="00:05:00" >
                  <readerQuotas maxDepth="2147483647"
                                maxStringContentLength="2147483647"
                                maxArrayLength="2147483647"
                                maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
                  <security mode="None">
                      <transport clientCredentialType="None" />
                  </security>
              </binding>-->
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" name="RESTSharePointServiceBinding" maxBufferSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>